/*Css*/
* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
}

.clearfix::before,
.clearfix::after {
	content: " ";
	display: table;
	clear: both;
}

.background {
    background-image: url(../img/trello.jpg);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

.layer {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background: rgba(0, 0, 0, 0.7);
}

.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	text-align: left;
	font-family: monospace;
}

h1 {
	font-size: 40px;
	color: #8FC0A9;
	margin-top: 15px;
}

button {
	background: #8FC0A9;
	border: 3px solid  #15362D;
	color:  #15362D;
	padding: 15px 30px;
	margin: 5px 5px 25px;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: bold;
	transition: .5s;
}

button:hover {
	cursor: pointer;
	transform: scale(0.98,0.98);
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	min-height: 100px;
}

.btn-delete {
	background: none;
	color: red;
	font-size: 20px;
	padding: 0 5px;
	border: 3px solid red;
	border-radius: 50%;
	position: absolute;
	right: 15px;
}

.columns {
	background: #15362D;
	width: 30.993%;
	float: left;
	padding: 10px;
	color:  #8FC0A9;
	margin: 1%;
	position: relative;
	min-height: 300px;
	box-shadow: 5px 5px 25px #000;
}

.columns h2 {
	padding-bottom: 5px;
	border-bottom: 1px solid #FAF3DD;
}

.columns:nth-of-type(3n+1) {/*3n --> co trzeca kolumna poczynając od pierwzego rzędu --> +1*/
	clear: both;
}

.card {
	background: #FAF3DD;
	color: #15362D;
	overflow-wrap: break-word;
	padding: 0 40px;
}

.card p {
	padding: 10px 0;
	font-size: 16px;
	min-height: 50px;
}

button.add-card {
	background: none;
	border: 3px solid #FAF3DD;
	color:  #FAF3DD;
	margin: 0 0 25px 0;
}

/*MEDIA QUERY*/

@media(max-width: 700px) {
	.columns {
		float: none;
		width: 100%;
		height: auto;
	}
}