/*Css*/
* {
	box-sizing: border-box;
}
body {
	margin: 0;
	padding: 0;
}

.background {
	background-image: url('../img/trello.jpg');
	background-size: cover;
	background-position: center;
	height: 100vh;
}

.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	text-align: center;
	font-family: monospace;
}

h1 {
	font-size: 40px;
	color: #15362D;
	margin-top: 0;
}

button {
	background: lightgreen;
	border: 3px solid  #15362D;
	color:  #15362D;
	padding: 15px 30px;
	margin: 5px 5px 25px;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: bold;
	transition: .5s;
}

button:hover {
	color: green;
	cursor: pointer;
	border-color: green;
	transform: scale(0.98,0.98);
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	min-height: 300px;
}

.btn-delete {
	background: red;
	color: white;
	font-size: 20px;
	padding: 0 5px;
	border: 1px solid #000;
}

.columns {
	background: #15362D;
	width: 30.993%;
	float: left;
	padding: 10px;
	color: lightgreen;
	margin: 1%;
}

.card {
	background: #D08FD9;
	color: #15362D;
}
.card p {
	padding: 10px 0;
	font-size: 16px;
}

button.add-card {
	background: none;
	border: 3px solid lightgreen;
	color: lightgreen;
}

/*MEDIA QUERY*/

@media(max-width: 660px) {
	.columns {
		float: none;
		width: 100%;
		height: auto;
	}
}